@import url("variables.css");
body {
  font-family: var(--font-main);
  background-color: var(--color-bg-projets);
  color: var(--color-text-dark);
  margin: 0;
}

header {
  background: var(--color-primary);
  color: var(--color-text-light);
  text-align: center;
  padding: 25px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

nav a {
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: bold;
}

.contenu-projet { 
  display: flex;          
  flex-wrap: wrap;        
  gap: 30px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
}

.image-projet {
  flex: 1 1 400px;        
  max-width: 450px;
  border-radius: var(--radius-default);
  box-shadow: var(--shadow-primary);
}
.details {
  flex: 1 1 400px;        
}

.details h2,
.details h3,
.details h4,
.details h5 {
  color: var(--color-primary);
}

footer {
  background: var(--color-primary);
  color: var(--color-text-light);
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
@media (max-width: 768px) {
.contenu-projet {
    flex-direction: column; 
  }
}