@import url("variables.css");

body {
  font-family: var(--font-main);
  color: var(--color-text-main);
  background: var(--color-bg);
  margin-left: 5px;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--color-bg);
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  text-align: center;
  margin-left: 6px
}

.photo {
  width: 230px;
  height: 230px;
  border-radius: var(--radius-round);
  object-fit: cover;
  border: 4px solid var(--color-effet);
  transition: 0.3s ease;
   cursor: pointer;
}
.photo:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-strong);
}
header h1 {
  font-size: 1.4rem;
  color: var(--color-text-main);
}

header img {
  width: 150px;
  height: 150px;
  border-radius: var(--radius-round);
  border: 4px solid var(--color-effet);
  object-fit: cover;
  margin: 2px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 17px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

header nav a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 6px;
}

header nav a:hover {
  background-color: var(--color-primary-light);
  color: var(--color-text-light);
}

main > h1 {
  text-align: left;
  margin-left: 160px; /* ajuste comme tu veux */
  margin-top: 190px;
}
main > section {
  max-width: 500px;
  margin-left: 20px;
  padding: 5px 15px;
}

main > section h2 {
  color: var(--color-primary);
  font-size: 2em;
}
.contact-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--color-bg-light);
    border: 2px solid var(--color-accent);
    border-radius: var(--radius-default);
    box-shadow: var(--shadow-primary);
}

.contact-section a {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
    
}
.contact-section a:hover {
    text-decoration: var(--color-link-hover);
}
.reseaux-sociaux {
  display: flex;
  justify-content: center;
  gap: var(--gap-reseaux);
  margin-top: var(--margin-top-reseaux);
}

.reseaux-sociaux a {
  font-size: var(--icon-size);
  text-decoration: none;
}

.reseaux-sociaux a i {
  font-size: var(--icon-size);
}

.reseaux-sociaux a.facebook i {
  color: var(--color-facebook);
}

.reseaux-sociaux a.instagram i {
  color: var(--color-instagram);
}



